<index:>
  <div class="head">
    <h1>{{manuscriptId}} - folio {{folio.index}}{{folio.side}}</h1>
  </div>

  <div class="img-container" as="container"
    on-click="clicked($event)"
    on-touchstart="touch($event)"
    on-touchmove="touching($event)"
    on-touchend="touched($event)">
    <img src="https://s3.amazonaws.com/medieval/tremor/{{manuscriptId}}/{{folio.index}}{{folio.side}}.png">
    

    {{each marks as #mark}}
      <div class="mark" style="left:{{#mark.x-#mark.w/2}}px;top:{{#mark.y-#mark.h/2}}px;width:{{#mark.w}}px;height:{{#mark.h}}px;">
      </div>
    {{/each}}
  </div>