<index:>
  <div class="head">
    <h1><a href="/folios/{{manuscriptId}}">{{manuscriptId}}</a> - folio {{folio.index}}{{folio.side}}</h1>
    <div class="nav">
      <a href="/folios/{{manuscriptId}}/{{previousIndex}}/{{previousSide}}">
      ({{previousIndex}}{{previousSide}}) previous</a> - ({{folio.index}}{{folio.side}}) - &nbsp;
      <a href="/folios/{{manuscriptId}}/{{nextIndex}}/{{nextSide}}">
      next ({{nextIndex}}{{nextSide}})</a>
    </div>
  </div>

  <div class="img-container" as="container"
    on-click="clicked($event)"
    on-touchstart="touch($event)"
    on-touchmove="touching($event)"
    on-touchend="touched($event)">
    <img src="https://s3.amazonaws.com/medieval/tremor/{{manuscriptId}}/{{folio.index}}{{folio.side}}.png">
    
    {{on marks}} <!-- why do we have to do this hacky hack? -->
      {{each marks as #mark}}
        <view is="mark" 
          mark="{{#mark}}" 
          offsetX="{{offsetX}}"
          offsetY="{{offsetY}}"
          editing="{{editing}}"></view>
      {{/each}}
    {{/on}}
  </div>