<import: src='./home'>
<import: src='./folio'>
<import: src='./manuscript'>
<import: src='./mark'>

<Title:>
  The Tremulator

<Head:>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto|Calligraffitti' rel='stylesheet' type='text/css'>

<Body:>
  <view is="header"/>
  <view is="{{$render.ns}}"/>
  <view is="footer" year="2014" />

<header:>
  <!--<h1>Header</h1>-->
  <h1 class="tremulator">
    <a href="/">The Tremulator</a>
  </h1>

<footer:>
  <!--<p>Footer {{@year}}</p>-->