<index: data-element="mark">
  <div class="mark" 
    style="left:{{getX(mark, offsetX)}}px;top:{{getY(mark, offsetY)}}px;width:{{mark.w}}px;height:{{mark.h}}px;"
    on-click="click($event)"
    on-mousedown="mousedown($event)"
    on-mouseup="mouseup($event)"
    on-mousemove="moving($event)"
    on-touchstart="touch($event)"
    on-touchend="touched($event)"
    on-touchmove="touching($event)">
  </div>
  {{if editing === mark.id}}
    <div as="editor"
      class="mark-editor"
      style="left:{{getX(mark, offsetX + 40)}}px;top:{{getY(mark, offsetY - mark.h/2)}}px;{{if dragging}}pointer-events:none;{{/if}}"
      on-click="editorClick($event)"
      on-touchend="editorClick($event)">
      <ul>
      <li class="origin">
        <select as="authorSelect">
          {{each authors as #author}}
            <option value="{{#author}}" selected="{{mark.author == #author}}">{{#author}}</option>
          {{/each}}
        </select>
      </li>
      <li class="value">
        <select as="valueSelect">
          {{each values as #value}}
            <option value="{{#value}}" selected="{{mark.value == #value}}">{{#value}}</option>
          {{/each}}
        </select>
      </li>
      <li class="converted"
        on-click="convertClick()"
        on-touchend="convertClick()">
        <input type="checkbox" checked="{{mark.converted}}">Converted
      </li>
      <li class="intervention">
        <select as="interventionSelect">
          {{each interventions as #intervention}}
          <option value="{{#intervention}}" selected="{{mark.intervention == #intervention}}">{{#intervention}}</option>
          {{/each}}
        </select>
      </li>
      <li class="certainty">
        Certainty<br>
        <input type="range" value="{{mark.certainty}}" min=0 max=100>
      </li>
      <li class="more">
        <div class="more">More</div>
      </li>
      <li class="close" 
        on-click="close($event)"
        on-touchend="close($event)">
        close 
      </li>
      <li class="delete" 
        on-click="delete(mark, $event)"
        on-touchend="delete(mark, $event)">
        delete
      </li>
      </ul>
    </div>
  {{/if}}