offsetTop = 100px
body.folio
  margin: 0
  padding: 0
  user-select: none
  -webkit-user-select: none

  .head
    width: 980px
    height: 100
    border: 1px solid orange 

    h1
      margin-left: 20px

    .nav
      display: inline-block
      float: right
      margin-top: -60px
      margin-right: 20px
      font-size: 30px

  .img-container
    user-select: none
    -webkit-user-select: none

  .img-container img
    position: absolute
    width: 980px
    margin: 0
    padding: 0
    user-select: none
    -webkit-user-select: none

  .canvas
    position: absolute
    width: 980px
    margin: 0
    padding: 0
    user-select: none
    -webkit-user-select: none
    
