offsetTop = 100px
body.folio
  margin: 0
  padding: 0

  .head
    width: 300
    height: 100
    border: 1px solid orange 

  .img-container img
    position: absolute
    top: offsetTop
    width: 980px
    margin: 0
    padding: 0

  .canvas
    position: absolute
    top: offsetTop
    width: 980px
    margin: 0
    padding: 0

  .mark
    //fill: none
    //stroke: red
    //stroke-width: 1px
    position: absolute
    border: 1px solid red