offsetTop = 100px
body.folio
  margin: 0
  padding: 0
  user-select: none
  -webkit-user-select: none

  .head
    width: 300
    height: 100
    border: 1px solid orange 

  .img-container
    user-select: none
    -webkit-user-select: none

  .img-container img
    position: absolute
    width: 980px
    margin: 0
    padding: 0
    user-select: none
    -webkit-user-select: none

  .canvas
    position: absolute
    width: 980px
    margin: 0
    padding: 0
    user-select: none
    -webkit-user-select: none
    
