body.manuscript
  .folio
    display: inline-block
    cursor: pointer
    margin: 5px
    padding: 5px
    width: 125px
    height: 180px
    border: 1px solid gray
    text-align: center

    a
      text-decoration: none
      display: inline-block

    .span-container
      display: inline-block
      position:absolute
      margin-left: -125px

    span
      display: inline-block
      font-size: 50px
      vertical-align: middle
      text-align: center
      width: 125px
      line-height: 200px
      color: white
      font-weight: bold
      font-family: Roboto, san-serif

    img
      display: inline-block
