.mark
  border: 1px solid red
  position: absolute
  cursor: pointer
  -webkit-touch-callout: disable 
  user-select: none
  -webkit-user-select: none

.mark-editor
  editButtonHeight = 80px
  position: absolute
  -webkit-touch-callout: disable 
  user-select: none
  -webkit-user-select: none
  z-index: 100
  ul
    list-style: none
    padding: 0

  li
    padding: 5px 10px
    margin: 0px
    min-height: 40px
    border-left: 1px solid black
    border-right: 1px solid black
    border-top: 1px solid black
    text-align: center
    font-family: Courier, monospace
    background-color: rgba(255, 255, 255, 0.9)
    -webkit-touch-callout: disable 

  li: active
    background-color: rgba(205, 205, 255, 0.9)

  select
    font-size: 30px
    border: 0
    outline: 0

  .delete
    margin-top: 10px
    background-color: rgba(255, 0, 0, 0.7)
    color: white
    height: editButtonHeight - 20
    line-height: editButtonHeight - 20
    font-size: 40px
    text-transform: capitalize
    cursor: pointer
    border-bottom: 1px solid black

  .close
    padding: 10px 10px
    height: editButtonHeight
    line-height: editButtonHeight
    font-size: 50px
    text-transform: capitalize
    cursor: pointer
    border-bottom: 1px solid black

  .more
    text-transform: 'capitalize'
    cursor: pointer

  .converted
    cursor: pointer
